/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    min-width: 100wh;
    font-family: arial;
    background-color: blue;
}

.nav {
    padding: 40px 0;
    background-color: yellow;
}

.nav h1 {
    font-size: 4rem;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: red;
    height: 550px;
}

.game-container h2 {
    font-size: 3rem;
    height: 50px;
}

.world-map {
    background-color: green;
    height: 500px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(80, 10px);
    grid-template-rows: repeat(50, 10px);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: darkorange;
    color: white;
    /* transition: all 0.2s; */
}

.foe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: purple;
    color: white;
    grid-column: 61/66;
    grid-row: 16/21;
}

.friend {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: blue;
    color: white;
    grid-column: 6/11;
    grid-row: 6/11;
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: brown;
    color: white;
    grid-column: 11/15;
    grid-row: 16/21;
}